<div class="container main-container headerOffset">
  <div class="row">
    <div class="breadcrumbDiv col-lg-12">
      <ul class="breadcrumb">
        <li> <%= link_to "Home", root_path %></li>
        <li class="active"> Usuarios registrados </li>
      </ul>
    </div>
  </div> <!--/.row-->
  
  <div class="row">
    <div class="col-lg-10 col-md-10 col-sm-7">
      <h1 class="section-title-inner"><span><i class="glyphicon glyphicon-shopping-cart"></i> Listado de usuarios registrados en la plataforma</span></h1>        
    </div> 

    <div class="row userInfo">
      <div class="col-lg-12">
        <h2 class="block-title-2">Seleccione una categoría para listar los usuariados registrados en la plataforma: </h2>
        
        <!-- BOTONES PARA FILTRAR EL LISTADO DE USUARIOS BAJO UNA CATEGORÍA ESPECÍFICA -->
        <%= form_tag admin_user_list_path, method: :get do %>
          <%= hidden_field_tag :user, "USUARIOS"  %>
          <div class="col-xs-2 action form-group">
            <%= submit_tag "Listar Usuarios", name: nil, class: "btn btn-lg btn-success" %>          
          </div>
        <% end %> 

        <%= form_tag admin_user_list_path, method: :get do %>
          <%= hidden_field_tag :tent, "TIENDAS"  %>
          <div class=" col-xs-2 action form-group">
            <%= submit_tag "Listar Tiendas", name: nil, class: "btn btn-lg btn-success" %>         
          </div>
        <% end %> 

        <%= form_tag admin_user_list_path, method: :get do %>
          <%= hidden_field_tag :admin, "ADMINISTRADORES"  %>
          <div class="col-xs-2 action form-group">
            <%= submit_tag "Listar Administradores", name: nil, class: "btn btn-lg  btn-success" %>         
          </div>
        <% end %>

      </div>

      <% if @vacio %>
        <div class="col-xs-12 col-sm-12">
          <br><br><br><br>
          <h1 class="text-center">Seleccion un tipo de usuario para cargar los registros existentes</h1>
        </div>
      <% else %>
        <div class="col-xs-12 col-sm-12">
          <table>
            <tbody>
            <% @users.each do |user| %>
              <tr class="CartProduct">
                <td style="width:30%">
                  <div>
                    <p><%= user.email %></p>
                    <p>Informacion restante del usuario</p>
                  </div>
                </td>
                <td style="width:10%" class="CartProductThumb text-center">
                  <div> 
                    <a href="#"><%= image_tag user.avatar.url %></a> 
                  </div>
                </td>
                <td style="width:40%">
                  <div class="CartDescription">
                    <h4><a href="product-details.html"><%= user.email %></a></h4>
                    <div class="price"> <span><%= user.role.humanize %></span> </div>
                  </div>
                </td>               
                <td  class="delete" style="width:20%">
                  <%= link_to "<i class='glyphicon glyphicon-edit fa-2x'></i>".html_safe, "# Definir esta ruta", class: "btn btn-warning", title: "Editar Usuario" %>
                  <%= link_to "<i class='glyphicon glyphicon-trash fa-2x'></i>".html_safe, admin_user_path(user.id), method: :delete, data: { confirm: '¿Estás seguro que desea eliminar este usuario?' }, class: "btn btn-danger", title: "Eliminar Usuario" %>                                   
                </td>
              </tr> 
            <% end %>                                      
            </tbody>
          </table>
        </div>
      <% end %>
      
    </div>
  </div>
  <!--/.row-->
  <div style="clear:both"></div>
</div> <!-- /main-container -->

<div class="gap"> </div>
