<!-- Modal Signup start -->
<div class="modal signUpContent fade" id="ModalSignup" tabindex="-1" role="dialog" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
        <h3 class="modal-title-site text-center" > REGISTRARSE </h3>
      </div>
      <div class="modal-body">
        <div class="control-group">
          <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), class: "fb_button btn  btn-block btn-lg" %>
        </div>        
        <h5 style="padding:10px 0 10px 0;" class="text-center"> O COMPLETA TUS DATOS PERSONALES </h5>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group reg-email">
            <div>
              <%= f.email_field :email, :autofocus => true, class: "form-control input", placeholder: "Email", id: "login-user" %>
            </div>
          </div>

          <div class="form-group reg-password">
            <div>
              <%= f.password_field :password, class: "form-control input", placeholder: "Contraseña - Mínimo 8 caracteres" %>
            </div>
          </div> 

          <div class="form-group reg-password">
            <div>
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control input", placeholder: "Confirmar contraseña" %>
            </div>
          </div>

          <div >
            <div >
              <%= f.submit "Registrarse", :class => 'btn btn-block btn-lg btn-primary' %>
            </div>
          </div>
          <!--userForm--> 

        <% end %>
      </div>
      <div class="modal-footer">
        <p class="text-center"> ¿Ya estas registrado? <a data-toggle="modal"  data-dismiss="modal" href="#ModalLogin"> Entra Aqui </a> </p>
      </div>
    </div>
    <!-- /.modal-content --> 
    
  </div>
  <!-- /.modal-dialog --> 
  
</div>
<!-- /.ModalSignup End --> 