<!DOCTYPE html>
<html>
<head>
  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= asset_path('ico/apple-touch-icon-144-precomposed.png') %>">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= asset_path('ico/apple-touch-icon-144-precomposed.png') %>">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= asset_path('ico/apple-touch-icon-72-precomposed.png') %>">
  <link rel="apple-touch-icon-precomposed" href="<%= asset_path('ico/apple-touch-icon-57-precomposed.png') %>">
  <link rel="shortcut icon" href="<%= asset_path('ico/favicon.png') %>">
  <title>Ventas El Hueco</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="pace-done">
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1617157328519545',
      xfbml      : true,
      version    : 'v2.3'
    });
  };
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<%= render "pages/login_modal" %>

<%= render "pages/sign_up_modal" %>

<%= render "layouts/nav" %>


<% if flash[:alert] %>
  <div class="alertOffset">
      <div class="alert alert-danger text-center" role="alert">
        <%=flash[:alert]%>
        <span class="right-text text-right">X</span>
    </div>
  </div>
<%end%>

<% if flash[:notice] %>
  <div class="alertOffset">
      <div class="alert alert-success text-center" role="alert">
        <%=flash[:notice]%>
        <span class="text-right">X</span>
      </div>
  </div>
<%end%>

<%= yield %>

<%= render 'layouts/footer' %>

<%= render "layouts/item_modal" %>

<%= render "layouts/contact_storehouse_modal" %>

</body>
</html>
